* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkcyan;
}

header,
footer {
    flex: 0;
    height: 72px;
}

section {
    flex: 1;
}

.calculator-container {
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 2px;
}

.button-row {
    flex: 1;
    display: flex;
    gap: 2px;
}

.button-row button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
}