* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkcyan;
}

header,
footer {
    flex: 0;
    height: 72px;
}

section {
    flex: 1;
}

.calculator-container {
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 4px;
}

.display-container {
    background-color: white;
    margin-bottom: 10px;
    min-height: 45px;
    display: flex;
}

.display {
    flex: 1;
    border: none;
    text-align: end;
    font-size: 20px;
    padding: 0px 20px;
}

.button-row {
    flex: 1;
    display: flex;
    gap: 4px;
}

.button-row button {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 1px black solid;
    border-radius: 2px;
}

#equals {
    background-color: blue;
    color: white;
}